

{% extends "@NadaAutoEcole/BackLayout.html.twig" %}
{% block metier %}
    <div class="form-panel">

        {{ form_start(formModifQuiz) }}

        <div class="form-group">

            {{ form_label(formModifQuiz.question) }} :
            {{ form_widget( formModifQuiz.question, {'attr': {'class':'form-control'}}  ) }}

        </div>



        {{ form_end(formModifQuiz) }}

    </div>
{% endblock %}


        {% block titre %}
            Liste des Quiz
        {% endblock %}

        {% block nonaction %}
            Modification des quiz
        {% endblock %}