{% extends "FarahChatBundle:Default:layout22.html.twig" %}
{% block contentAjout %}
                                        <form method="get">
                                            <input type="text" placeholder="ajouter un commentaire">
                                            <a href="#" class="cp-btn-style2">Ajouter Commentaire</a>
                                        </form>
  {% endblock contentAjout %}