{% extends "MyAppUserBundle:Security:Frontlog.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block formLog %}

    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
            <hr>
            <div >

                <a class="" href="{{ path('fos_user_security_login') }}">
                    Se connecter
                </a>
            </div>


{% endblock formLog %}
