{% extends "MyAppUserBundle::InscriAdmin.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block formulaire %}
    <div class="form-login">
        <div class="login-wrap">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
            <hr>
            <div class="registration">

                <a class="" href="{{ path('fos_user_security_login') }}">
                    Se connecter
                </a>
    </div>
    </div>
{% endblock formulaire %}
