
{% extends "@NadaAutoEcole/FrontLayout.html.twig" %}

{% block title%}
    Les réparations
{% endblock %}
{% block metier %}
    <section class="cp-deals-section pd-tb80">
        <div class="container">

            <div class="row">






                    {{ form(formu) }}
                    {{ form_errors(formu) }}





            </div>
        </div>
    </section>

{% endblock %}