



{% extends "@NadaAutoEcole/FrontLayout.html.twig" %}

{% block title%}
    Vidange
{% endblock %}
{% block metier %}





    <div class="row">

        {{ form(formu) }}
        {{ form_errors(formu) }}

    </div>

{% endblock %}