{% extends "FarahChatBundle:Default:layout22.html.twig"%}

{% block contentAjout %}
    <div class="col-xs-6">
        {{ form_start(form) }}


        {{ form_end(form) }}
    </div><br>
 {% endblock contentAjout %}